<form method="post" action="/room">
    <div class="row">
        <h1>Node Chat サンプル</h1>
    </div>
    <div class="row">
        ユーザ名
        <input type="text" size="20" name="userName" class="form-control" style="width: 200px;">
    </div>
    <div class="row">
        <input type="button" value="入室する" class="btn btn-info" onclick="checkUserName();">
    </div>
</form>
